.header {
    box-shadow: 0 4px 4px rgba($black, 0.25);
    margin-bottom: var(--section_gap);

    .container {
        padding: 15px 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    img {
        width: 165px;
        height: 33px;
    }

    h1 {
        @include font($fz: 18px, $fw: 600);
    }

    nav {
        ul {
            display: flex;
            gap: 42px;

            li {
                a {
                    @include font($fz: 18px, $fw: 600);
                    color: var(--black);
                }
            }
        }
    }
}